* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

main {
  margin: 1rem;
}

h1 {
  margin-bottom: 1rem;
}

button {
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #102e4a;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

button:hover {
  background-color: #b74f6f;
  color: black;
}

label {
  font-weight: 600;
  white-space: nowrap;
}

input {
  width: 100%;
  border: 1px solid #102e4a;
  border-radius: 0.5rem;
  padding: 0.75rem;
}

input:focus {
  outline: none;
  border: 1px solid #b74f6f;
}
