.movie-card {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 0.5fr 1fr;
  column-gap: 2rem;
  row-gap: 1.5rem;
  min-height: 278px;
  background-color: #b4d2f3;
}

.movie-card__img {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.movie-card__title {
  font-size: 1.25rem;
  font-weight: 600;
  align-self: flex-end;
}

.movie-card__overview {
  font-size: 1rem;
}
